In [1]:
# importing libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
import os
for dirname, _, filenames in os.walk('/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

In [7]:
import json
def parse_data(file):
    for l in open(file,'r'):
        yield json.loads(l)

data = list(parse_data("./csvjson.json"))

JSONDecodeError: Extra data: line 1 column 316 (char 315)

In [8]:
df=pd.DataFrame(data)

In [10]:
df = df[['created_at','description']]
df.head()

   created_at                                        description
0           0  It's said that #sarcasm is the lowest form of ...
1           1  I must weed out about 50 texts sounding like T...
2           2  Callon is back, #sarcasm intact. Check out the...
3           3  Personality so inspiring that every girl I mee...
4           4  Why 50% valuation cut!? Nifty is just 8% down ...

In [11]:
# stats 1
df.describe()

       created_at
count   40.000000
mean    19.500000
std     11.690452
min      0.000000
25%      9.750000
50%     19.500000
75%     29.250000
max     39.000000

In [12]:
# dropping duplicate values
df = df.drop_duplicates()
print(df)

##No Duplicates Found!!

    created_at                                        description
0            0  It's said that #sarcasm is the lowest form of ...
1            1  I must weed out about 50 texts sounding like T...
2            2  Callon is back, #sarcasm intact. Check out the...
3            3  Personality so inspiring that every girl I mee...
4            4  Why 50% valuation cut!? Nifty is just 8% down ...
5            5  BREAKUPS AND #SARCASM https://t.co/LGrjnIfWzQ ...
6            6  @AyoCaesar Pretty sure this wasn't an endorsem...
7            7  Answer  #nationwanttoknow #ANSWER #Mathematics...
8            8   @IshitaJoshi @IamNaveenKapoor He did #Sarcasm ??
9            9  Funny Quote - I'm Never Drinking Again https:/...
10          10  Funny Retired Quote Mug  https://t.co/aAJq9xtx...
11          11  Yay, Carey commentating. #Sarcasm #FkADuck #AF...
12          12  Funny Sarcastic Quote - I Like My Puns Intende...
13          13  Funny Quote - Literally Dead Tired https://t.c...
14          14  Funny Coffee Quote - I Get Jealous https://t.c...
15          15  Funny Coffee Quote - Sometimes I Go Hours With...
16          16  Funny Quote - The Early Bird https://t.co/g3jk...
17          17  Funny Coffee Quote - I'm A Great Multitasker h...
18          18  Funny Coffee Quote - I'm Sorry for What I Said...
19          19  Funny Coffee Mug Quote - I Don't Like Morning ...
20          20  It's said that #sarcasm is the lowest form of ...
21          21  THATS UNFORTUNATE https://t.co/Iln8ZioSqm #sar...
22          22  #MarjorieTaylorGreene shes sensational #isn't ...
23          23  Bahar dhoop dekh rahe ho kitni hai" Is my new ...
24          24  Every country has the right to chose its own m...
25          25  I've just read that @metpoliceuk won't be inve...
26          26  @MikeCarlton01 Forced service for minimum wage...
27          27                    #sarcasm u dont get it? u dont?
28          28  Rome is one of the first? Who would have ever ...
29          29  You want to play a Roman legions #fantasy #ttr...
30          30  @AshishGupta325 MBA bhi to kiya tha Nitie se i...
31          31  @AllAboutThatBBQ @latimes I say that since we'...
32          32  https://t.co/cCzIefCNw5 Top 5 Disgraced Celebr...
33          33  @BaddyBird @PradyuPrasad For tone deaf people,...
34          34  Back in my day, people used to take photos wit...
35          35  @Virus_City_ What!? You mean Tesla hasn't prio...
36          36  I fail to see Eiko's problem. It worked until ...
37          37  my best college memory was not going to colleg...
38          38  It's said that #sarcasm is the lowest form of ...
39          39      @adhirasy @Ashvin1351 #Sarcasm at the best...

In [13]:
# stats 2
df.describe()

       created_at
count   40.000000
mean    19.500000
std     11.690452
min      0.000000
25%      9.750000
50%     19.500000
75%     29.250000
max     39.000000

In [14]:
# checking for missing values
df.isnull()

    created_at  description
0        False        False
1        False        False
2        False        False
3        False        False
4        False        False
5        False        False
6        False        False
7        False        False
8        False        False
9        False        False
10       False        False
11       False        False
12       False        False
13       False        False
14       False        False
15       False        False
16       False        False
17       False        False
18       False        False
19       False        False
20       False        False
21       False        False
22       False        False
23       False        False
24       False        False
25       False        False
26       False        False
27       False        False
28       False        False
29       False        False
30       False        False
31       False        False
32       False        False
33       False        False
34       False        False
35       False        False
36       False        False
37       False        False
38       False        False
39       False        False

In [15]:
# checking the number of missing data
df.isnull().sum()

created_at     0
description    0
dtype: int64

In [17]:
# Splitting dataset into independent & dependent variable
X = df[['created_at']].values
y = df['description'].values
print(X)

[[ 0]
 [ 1]
 [ 2]
 [ 3]
 [ 4]
 [ 5]
 [ 6]
 [ 7]
 [ 8]
 [ 9]
 [10]
 [11]
 [12]
 [13]
 [14]
 [15]
 [16]
 [17]
 [18]
 [19]
 [20]
 [21]
 [22]
 [23]
 [24]
 [25]
 [26]
 [27]
 [28]
 [29]
 [30]
 [31]
 [32]
 [33]
 [34]
 [35]
 [36]
 [37]
 [38]
 [39]]

In [18]:
print(y)

["It's said that #sarcasm is the lowest form of #wit. To that I say, No, really? Hey, somebody give this person a #Nobel #peace #prize!"
 'I must weed out about 50 texts sounding like THIS per day. After 20 years, my responses are often sarcastic on steroids. Strangely, it relieves some of their annoyance. wHO ACTS LIKE THIS?  #humor #drudge #sarcasm 0#sessions https://t.co/hfjOLTAqKF'
 'Callon is back, #sarcasm intact. Check out the #Allegiance sample on #bookbuzzr #mustread #fantasy #dragon - https://t.co/FI18RHQ5W8'
 'Personality so inspiring that every girl I meet decides to focus on their career, rather than dating.#sarcasm #danj #ambition #saturday #memes'
 'Why 50% valuation cut!? Nifty is just 8% down from ATH. Retail is strong enough to absorb FII selling.#Sarcasm https://t.co/1WIGugL6GX'
 'BREAKUPS AND #SARCASM https://t.co/LGrjnIfWzQ #breakup #love https://t.co/qDRZwYTnPt'
 "@AyoCaesar Pretty sure this wasn't an endorsement #sarcasm"
 'Answer  #nationwanttoknow #ANSWER #Mathematics #Quizzes #Memes #memecoin #Sarcasm #LOL #fun #educational https://t.co/tujXns0mRi'
 '@IshitaJoshi @IamNaveenKapoor He did #Sarcasm ??'
 "Funny Quote - I'm Never Drinking Again https://t.co/muArTMYWYG via @zazzle #ZazzleMade #zazzle #Mugshots #mug #mugs #Coffee #CoffeeTime #sarcasm #sarcastic #quote #quoteoftheday #quotesdaily #sarcasticquotes #funnyquotes #giftideas #gift #gifts"
 'Funny Retired Quote Mug  https://t.co/aAJq9xtxia via @zazzle #ZazzleMade #zazzle #Mugshots #mug #mugs #Coffee #CoffeeTime #sarcasm #sarcastic #quote #quoteoftheday #quotesdaily #sarcasticquotes #funnyquotes #giftideas #gift #gifts #retirement'
 'Yay, Carey commentating. #Sarcasm #FkADuck #AFLFreoBlues'
 'Funny Sarcastic Quote - I Like My Puns Intended https://t.co/1czoroOg6s via @zazzle #ZazzleMade #zazzle #Mugshots #mug #mugs #Coffee #CoffeeTime #sarcasm #sarcastic #quote #quoteoftheday #quotesdaily #sarcasticquotes #funnyquotes #giftideas #gift #gifts'
 'Funny Quote - Literally Dead Tired https://t.co/FG9Wq2O9MB via @zazzle #ZazzleMade #zazzle #Mugshots #mug #mugs #Coffee #CoffeeTime #sarcasm #sarcastic #quote #quoteoftheday #quotesdaily #sarcasticquotes #funnyquotes #giftideas #gift #gifts'
 'Funny Coffee Quote - I Get Jealous https://t.co/LIBSH9YiUY via @zazzle #ZazzleMade #zazzle #Mugshots #mug #mugs #Coffee #CoffeeTime #sarcasm #sarcastic #quote #quoteoftheday #quotesdaily #sarcasticquotes #funnyquotes #giftideas #gift #gifts'
 'Funny Coffee Quote - Sometimes I Go Hours Without https://t.co/6iUlDFCOS6 via @zazzle #ZazzleMade #zazzle #Mugshots #mug #mugs #Coffee #CoffeeTime #sarcasm #sarcastic #quote #quoteoftheday #quotesdaily #sarcasticquotes #funnyquotes #giftideas #gift #gifts'
 'Funny Quote - The Early Bird https://t.co/g3jkH7nLhJ via @zazzle #ZazzleMade #zazzle #Mugshots #mug #mugs #Coffee #CoffeeTime #sarcasm #sarcastic #quote #quoteoftheday #quotesdaily #sarcasticquotes #funnyquotes #giftideas #gift #gifts'
 "Funny Coffee Quote - I'm A Great Multitasker https://t.co/KfUoELgzmH via @zazzle #ZazzleMade #zazzle #Mugshots #mug #mugs #Coffee #CoffeeTime #sarcasm #sarcastic #quote #quoteoftheday #quotesdaily #sarcasticquotes #funnyquotes #giftideas #gift #gifts"
 "Funny Coffee Quote - I'm Sorry for What I Said https://t.co/fFEa6azqkQ via @zazzle #ZazzleMade #zazzle #Mugshots #mug #mugs #Coffee #CoffeeTime #sarcasm #sarcastic #quote #quoteoftheday #quotesdaily #sarcasticquotes #funnyquotes #giftideas #gift #gifts"
 "Funny Coffee Mug Quote - I Don't Like Morning Peoplehttps://t.co/gjuAEdKUjN via @zazzle #ZazzleMade #zazzle #Mugshots #mug #mugs #Coffee #CoffeeTime #sarcasm #sarcastic #quote #quoteoftheday #quotesdaily #sarcasticquotes #funnyquotes #giftideas #gift #gifts"
 'It\'s said that #sarcasm is the lowest form of #wit. To that I say "No, really? Hey, somebody give this person a #Nobel #peace #prize!'
 'THATS UNFORTUNATE https://t.co/Iln8ZioSqm #sarcasm https://t.co/iAScBOMcMv'
 "#MarjorieTaylorGreene shes sensational #isn't she? #sarcasm noted!! #PurjuryTaylorGreene https://t.co/VcaFmMA2NB"
 'Bahar dhoop dekh rahe ho kitni hai" Is my new excuse to cancel every plan..!!#meme #memes #sarcasm #motivation #jokes #quote'
 'Every country has the right to chose its own military alliance, but has to face the consequences. #Sarcasm https://t.co/JoslHOESAi'
 "I've just read that @metpoliceuk won't be investigating Partygate until after the May elections.They've just confirmed that:They are corrupt and politically motivated.They hold British public for idiots.Well done #sarcasm"
 '@MikeCarlton01 Forced service for minimum wage, that seems smart #Sarcasm'
 '#sarcasm u dont get it? u dont?'
 'Rome is one of the first? Who would have ever thought?  #Sarcasm . https://t.co/kfvKExJGVB'
 "You want to play a Roman legions #fantasy #ttrpg with supernatural elements?Among others: #LexArcana (and/or #CthulhuInvictus (#Coc) if you need the racist #Lovecraft...) #Sarcasm: It's really inspired to add some #Cthulhu / #Mythos garbage to everything! #CohorsCthulhu https://t.co/C02Vnkbsps https://t.co/BI25oKrMFj"
 '@AshishGupta325 MBA bhi to kiya tha Nitie se in 2009-11. I think tab bhi struggle hogi to wake up at 9 AM So u were struggling even at age 25 also. I struggle today also to wake up early to go to office#Sarcasm'
 "@AllAboutThatBBQ @latimes I say that since we're already like $3B in, we might as well just fight Russia ourselves and end it quicker. Considering Russia's anti-missile flagship got taken down by missiles, their nukes probably would never get off the ground. This is 50% #Sarcasm ."
 'https://t.co/cCzIefCNw5 Top 5 Disgraced Celebrities Of May 2022#top5 #celebs #top5list #disgraced #celebrities #marjorietaylorgreene #frankjames #kathrynkimballmizelle #judgemizelle #kathrynmizelle #chrisrock #joerogan #dontcensorme #sarcasm #sarcastic'
 '@BaddyBird @PradyuPrasad For tone deaf people, I need to post a sarcasm alert. #Sarcasm'
 'Back in my day, people used to take photos with other people in them. https://t.co/fMTiNr7Fuq #sarcasm #tt #ttot #TBEX #LP #cleanhotels #travelmassive #travel'
 "@Virus_City_ What!? You mean Tesla hasn't prioritized NN training for airplane avoidance? This is a safety hazard and I refuse to put our pilots lives in jeopardy. @tesla must be stopped! #sarcasm"
 "I fail to see Eiko's problem. It worked until it didn't. #sarcasm.Notice how in this moderate size trial with suicidal ideation as main outcome and participants at high-risk (most had a previous attempt) hard outcomes still look grim. https://t.co/gA8WHiDqS0 https://t.co/YRRdknpLNh"
 'my best college memory was not going to college#meme #memes #sarcasm #motivation #jokes #quote'
 'It\'s said that #sarcasm is the lowest form of #wit. To that I say "No, really? Hey, somebody give this person a #Nobel #peace #prize!'
 '@adhirasy @Ashvin1351 #Sarcasm at the best...']

In [20]:
#lowercase

df['description'].str.lower()

0     it's said that #sarcasm is the lowest form of ...
1     i must weed out about 50 texts sounding like t...
2     callon is back, #sarcasm intact. check out the...
3     personality so inspiring that every girl i mee...
4     why 50% valuation cut!? nifty is just 8% down ...
5     breakups and #sarcasm https://t.co/lgrjnifwzq ...
6     @ayocaesar pretty sure this wasn't an endorsem...
7     answer  #nationwanttoknow #answer #mathematics...
8      @ishitajoshi @iamnaveenkapoor he did #sarcasm ??
9     funny quote - i'm never drinking again https:/...
10    funny retired quote mug  https://t.co/aajq9xtx...
11    yay, carey commentating. #sarcasm #fkaduck #af...
12    funny sarcastic quote - i like my puns intende...
13    funny quote - literally dead tired https://t.c...
14    funny coffee quote - i get jealous https://t.c...
15    funny coffee quote - sometimes i go hours with...
16    funny quote - the early bird https://t.co/g3jk...
17    funny coffee quote - i'm a great multitasker h...
18    funny coffee quote - i'm sorry for what i said...
19    funny coffee mug quote - i don't like morning ...
20    it's said that #sarcasm is the lowest form of ...
21    thats unfortunate https://t.co/iln8ziosqm #sar...
22    #marjorietaylorgreene shes sensational #isn't ...
23    bahar dhoop dekh rahe ho kitni hai" is my new ...
24    every country has the right to chose its own m...
25    i've just read that @metpoliceuk won't be inve...
26    @mikecarlton01 forced service for minimum wage...
27                      #sarcasm u dont get it? u dont?
28    rome is one of the first? who would have ever ...
29    you want to play a roman legions #fantasy #ttr...
30    @ashishgupta325 mba bhi to kiya tha nitie se i...
31    @allaboutthatbbq @latimes i say that since we'...
32    https://t.co/ccziefcnw5 top 5 disgraced celebr...
33    @baddybird @pradyuprasad for tone deaf people,...
34    back in my day, people used to take photos wit...
35    @virus_city_ what!? you mean tesla hasn't prio...
36    i fail to see eiko's problem. it worked until ...
37    my best college memory was not going to colleg...
38    it's said that #sarcasm is the lowest form of ...
39        @adhirasy @ashvin1351 #sarcasm at the best...
Name: description, dtype: object

In [23]:
print(df)

                                                headline  is_sarcastic
0      former versace store clerk sues over secret 'b...             0
1      the 'roseanne' revival catches up to our thorn...             0
2      mom starting to fear son's web series closest ...             1
3      boehner just wants wife to listen, not come up...             1
4      j.k. rowling wishes snape happy birthday in th...             0
...                                                  ...           ...
26704               american politics in moral free-fall             0
26705                            america's best 20 hikes             0
26706                              reparations and obama             0
26707  israeli ban targeting boycott supporters raise...             0
26708                  gourmet gifts for the foodie 2014             0

[26602 rows x 2 columns]

In [21]:
#Stemming 
df['description'] = df['description'].apply(lambda x: x.lower())

In [22]:
import nltk
nltk.download('stopwords')
from nltk.tokenize import word_tokenize,sent_tokenize
from nltk.corpus import stopwords
import spacy


nlp = spacy.load('en_core_web_sm')
def preprocess(text):
    doc = nlp(text)
    lemmas = [token.lemma_ for token in doc]
    a_lemmas = [lemma.lower() for lemma in lemmas if lemma.isalpha() and lemma not in stopwords.words('english')]
    lemmatized_text = ' '.join(a_lemmas)
    return lemmatized_text

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\tause\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [25]:
cleaned_text = []
for text in df.description:
    cleaned_text.append(preprocess(text))
df['clean_text'] = cleaned_text

In [26]:
df.head()

,created_at,description,clean_text
0,0,it's said that #sarcasm is the lowest form of ...,say sarcasm low form wit i say really hey some...
1,1,i must weed out about 50 texts sounding like t...,i must weed text sound like per day year respo...
2,2,"callon is back, #sarcasm intact. check out the...",callon back sarcasm intact check allegiance sa...
3,3,personality so inspiring that every girl i mee...,personality inspiring every girl i meet decide...
4,4,why 50% valuation cut!? nifty is just 8% down ...,valuation cut nifty ath retail strong enough a...

In [29]:
X = df.clean_text
y = df.created_at

In [30]:
print(X)

0     say sarcasm low form wit i say really hey some...
1     i must weed text sound like per day year respo...
2     callon back sarcasm intact check allegiance sa...
3     personality inspiring every girl i meet decide...
4     valuation cut nifty ath retail strong enough a...
5                          breakup sarcasm breakup love
6                       pretty sure endorsement sarcasm
7     answer nationwanttoknow answer mathematic quiz...
8                                               sarcasm
9     funny quote i never drink via zazzlemade zazzl...
10    funny retire quote mug via zazzlemade zazzle m...
11    yay carey commentating sarcasm fkaduck aflfreo...
12    funny sarcastic quote i like pun intend via za...
13    funny quote literally dead tired mb via zazzle...
14    funny coffee quote i get jealous via zazzlemad...
15    funny coffee quote sometimes i go hour without...
16    funny quote early bird via zazzlemade zazzle m...
17    funny coffee quote i great multitasker via zaz...
18    funny coffee quote i sorry i say via zazzlemad...
19    funny coffee mug quote i like morning via zazz...
20    say sarcasm low form wit i say really hey some...
21                                  unfortunate sarcasm
22    marjorietaylorgreene sensational sarcasm note ...
23    bahar dhoop dekh rahe ho kitni hai new excuse ...
24    every country right chose military alliance fa...
25    i read investigate partygate may confirm corru...
26        force service minimum wage seem smart sarcasm
27                                      sarcasm u get u
28              rome one first would ever think sarcasm
29    want play roman legion fantasy ttrpg supernatu...
30    mba bhi kiya tha nitie se i think tab bhi stru...
31    i say since already like might well fight russ...
32    top disgrace celebrity may celebs disgrace cel...
33    tone deaf people i need post sarcasm alert sar...
34    back day people use take photo people sarcasm ...
35    mean tesla prioritize nn training airplane avo...
36    i fail see eiko problem work moderate size tri...
37    good college memory go meme sarcasm motivation...
38    say sarcasm low form wit i say really hey some...
39                                         sarcasm good
Name: clean_text, dtype: object

In [32]:
df.to_csv('cleaned_data.csv')